html, body {
  height: 100%;
  margin: 0;
  font-size: 10pt;
}

.text {
  text-align: center;
  font-family: Assistant;
  font-size: 1.5em;
  margin-bottom: 10px;

}

.boldedText {
  text-align: center;
  font-family: Assistant;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
}

.headerText {
  text-align: right;
  color: #ffffff;
  font-family: Alef;
  font-size: 4.5em;
  font-weight: bold;
  clear: both;
  /*text-shadow: 10px 10px #ff285b;*/
}

.numberSlot {
  align-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #151515;
  font-family: Alef;
  font-size: 2.2em;
  font-weight: bold;
  margin: 4px;
  padding: 0.5em;
  padding-top: 0.2em;
}

.numberSlotBig {
  text-align: center;
  color: #ffffff;
  background-color: #151515;
  font-family: Alef;
  font-size: 4.5em;
  font-weight: bold;
  padding: 0.3em;
  padding-bottom: 0.65em;
  width: 1.5em;
  margin: auto;
}

.logo {
  width: 120px;
  float: right;
  clear: both;
}

.sceneContainter {
  height:100%;
  display: flex;
  align-content: stretch;
  flex-direction: row-reverse;
  overflow-y: hidden;
}

.headerContainer {
  flex: 1;
  background-color: #151515;
  padding: 60px;
  padding-top: 60px;
  z-index:-2;
}

.contentContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.upperContainer {
  flex: 2;
  transform: translateY(35%);
}

.lowerContainer {
  flex: 1;
  border-top: 1px solid #151515;
  padding: 2.5em;
}

.numberContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerTextBlock {
  display: inline-block;
  margin-top: 30px;
}

.headerTextBlock:nth-child(2) {
  display: block;
}

canvas {
  display: block;
  position:absolute;
  top:0;
  right: 0;
  z-index:-1;
}
